<div class="card card-historias" id="targetHistorias">
    <div class="card-body anchor anchor-algumas-historias" id="page-algumas-historias">
        <h5 class="card-title historias-title">Algumas Histórias</h5>

        <p>Abaixo apresentam-se algumas <strong>histórias de assédio</strong>, enviadas por 
        <strong>mulheres gamers</strong> do que já presenciaram no ambiente virtual, os relatos 
        são 100% verdadeiros e muitos possuem <strong>nunhuma solução</strong> por parte 
        dos desenvolvedores do game.</p>

        <p>Para saber mais detalhes do caso clique em "<strong>ver mais</strong>" e seja
        redirecionado para nossa página do Instagram com outros casos.</p>

        <img class="image-megafone" width="150" height="150" src="/assets/images/megafone.png">
        <img class="image-sirene" width="150" height="150" src="/assets/images/sirene.png">
        <img class="image-xingamento" width="200" height="150" src="/assets/images/xingamento.png">

        <div class="historias-slider">
            <div class="elfsight-app-eede0e8d-680c-4beb-aa40-b54bd79f3b8b "></div>
        </div>
        

        <!-- <div class="historias-slider">
            <div class="historias-slider-content">
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" >
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    D
                </div>
                </ngx-slick-carousel>
            </div>
        </div> -->

    </div>
</div>