<div class="card" id="targetContato">
    <div class="card-body">
        <h5 class="card-title contato-title">Converse com a Gente</h5>

        <img class="image-eletronica" width="300" height="300" src="/assets/images/eletronica.png">

        <p>Siga-nos nas redes sociais e fique por dentro de tudo que acontece!</p>

        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                <img class="image-megafone" width="75" height="75" src="/assets/images/social/insta.png">
                            </div>
                            <div class="col-8">
                                <h4 class="contato-text">@badlyplayefdsfdsfdsfdsfsd</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                <img class="image-megafone" width="75" height="75" src="/assets/images/social/twitter.png">
                            </div>
                            <div class="col-8">
                                <h4 class="contato-text">@badlyplayed</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                <img class="image-megafone" width="75" height="75" src="/assets/images/social/fb.png">
                            </div>
                            <div class="col-8">
                                <h4 class="contato-text">#badlyplayed</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                <img class="image-megafone" width="75" height="75" src="/assets/images/social/yb.png">
                            </div>
                            <div class="col-8">
                                <h4 class="contato-text"></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                <img class="image-megafone" width="75" height="75" src="/assets/images/social/mail.png">
                            </div>
                            <div class="col-8">
                                <h4 class="contato-text">hi@badlyplayed.com</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>