<div class="card" id="targetSobre">
    <div class="card-body">
        <h5 class="card-title sobre-title">Sobre</h5>

        <p class="card-text text-center">Você sabia que <strong>65%</strong> 
        dos gamers jogam <strong>jogos online</strong>?</p>

        <div class="progress">
            <div class="progress-bar progress-on" role="progressbar" style="width: 65%;" aria-valuenow="53" aria-valuemin="0"
                aria-valuemax="100">jogam onine</div>
            <div class="progress-bar progress-off" role="progressbar" style="width: 35%;" aria-valuenow="47" aria-valuemin="0"
                aria-valuemax="100">não jogam online</div>
        </div>

        <p class="card-text text-center">
            <strong>fonte : PGB2020</strong>
        </p>

        <p class="card-text text-center">E que mais da <strong>metade</strong> da comunidade 
            gamer é constituida de <strong>mulheres</strong>?</p>

        <div class="progress">
            <div class="progress-bar progress-on" role="progressbar" style="width: 53%;" aria-valuenow="53" aria-valuemin="0"
                aria-valuemax="100">mulheres</div>
            <div class="progress-bar progress-off" role="progressbar" style="width: 47%;" aria-valuenow="47" aria-valuemin="0"
                aria-valuemax="100">homens</div>
        </div>

        <p class="card-text text-center">
            <strong>fonte : PGB2020</strong>
        </p>

        <p class="card-text text-center">Mesmo assim, muitas mulheres são <strong>assediadas diariamente.</strong></p>

        <p class="card-text text-center">
            O ambiente virtual gamer online é o único é o único local em que certas coisas ditas são 
            <strong>toleradas</strong> e levadas <strong>levianamente</strong>, quando esses casos são 
            reportados comumente <strong>não são punidos</strong> de acordo.
        </p>

        <p class="card-text text-center">
            O <strong>#badlyplayed</strong> foi criado no ano de 2020 por mulheres gamers, com o objectivo de expor 
            essa impunidade através da <strong>coleta de histórias</strong> de outras mulheres gamers, e dessa forma
            cobrar uma mudança de postura das empresas de jogos online.
        </p>

    </div>
</div>