<div class="fixed-header">
    <div class="container">
        <nav>
            <img class="float-left logoBanner" src="/assets/images/logo.png"/>
            <a href="#" id="contatoLink" class="float-right textBanner">contato</a>            
            <a href="#" id="manifestoLink" class="float-right textBanner">manifesto</a>
            <a href="#" id="conteLink" class="float-right textBanner">conte a sua</a>
            <a href="#" id="historiasLink" class="float-right textBanner">histórias</a>
            <a href="#" id="sobreLink" class="float-right textBanner">sobre</a>
        </nav>
    </div>
</div>