<div class="card card-manifesto" id="targetManifesto">
    <div class="card-body anchor anchor-manifesto" id="page-manifesto">
        <h5 class="card-title">Manifesto</h5>

        <div class="card-text text-center">
            <p class="card-text-content">O ambiente virtual gamer é o punico local em que certas coisas ditas são <strong>toleradas </strong>
                e levadas <strong>levianamente. </strong>Em meio a isso, o movimento <strong>#badlyplayed </strong>nasceu no ano 
                de 2015, como reflexo da necessidade em existir uma política mais rígida por parte das empresas de jogos. #badlyplayed 
                busca expor essa impunidade de comportamento tóxico que ocorre nos jogos online através da <strong>coleta de histórias </strong>
                de mulheres gamers afim de chamar a atenção para o fato e cobrar uma <strong>mudança de comportamento </strong>
                das corporações e dos jogadores.</p>
        </div>

        <img class="logo-transparente" width="158" height="48" src="/assets/images/logo-transparente.png">

    </div>
</div>
