<div class="content">
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-cog" style="margin-right:10px"></i>Parâmetros</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-parametros-contatos></app-parametros-contatos>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-user" style="margin-right:10px"></i>Usuários</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-parametros-usuarios></app-parametros-usuarios>
        </div>
    </div>
</div>
