<div class="card card-conte" id="targetConte">
    <div class="card-body anchor anchor-conte-historia" id="page-contar-historia">
        <h5 class="card-title conte-historia-title">Conte a sua Hitória!</h5>

        <p>Preencha o formulário abaixo e faça parte desse movimento, <strong>conte a sua história.</strong>
            Juntas somos mais fortes, conseguiremos mudar esse padrão de <strong>impunidade</strong>
            nos jogos online.</p>

        <p><strong>Não é necessário se identificar, só se quiser.</strong> Os camos marcados com
            asterisco são obrigatórios</p>

        <img class="image-controle" width="550" height="500" src="/assets/images/controle.png">

        <form>
            <div class="row">
                <div class="col-6">
                    <div class="row form-line">
                        <div class="col-5">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">nome</label>
                                <input class="form-control form-input" type="text" id="formName" placeholder="Julia">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlSelect1">idade*</label>
                                <select class="form-control form-input" id="formIdade">
                                    <option>17</option>
                                    <option>18</option>
                                    <option selected>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlSelect1">gênero*</label>
                                <select class="form-control form-input" id="formGenero">
                                    <option selected>feminino</option>
                                    <option>masculino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-line">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlSelect1">jogo*</label>
                                <input class="form-control form-input" type="text" id="formName" placeholder="Nome do jogo">
                            </div>
                        </div>
                    </div>
                    <div class="row form-line">
                        <div class="col-4">
                            <label class="form-label" for="exampleFormControlSelect1">data*</label>
                            <select class="form-control form-input" id="formData">
                                <option selected>10</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="exampleFormControlSelect1"> </label>
                            <select class="form-control form-input" id="formData">
                                <option selected>mar</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="exampleFormControlSelect1"> </label>
                            <select class="form-control form-input" id="formData">
                                <option selected>2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-line">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlFile1">printscreen</label>
                                <input type="file" class="form-control-file" id="formPrint">
                            </div>
                        </div>
                    </div>
                    <div class="row form-line">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlSelect1">país*</label>
                                <select class="form-control form-input" id="formPais">
                                    <option selected>Brazil</option>
                                    <option>Estados Unidos</option>
                                    <option>Alemanha</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-text">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="exampleFormControlTextarea1">detalhes sobre o
                                    caso*</label>
                                <textarea class="form-control input-text" id="formDetalhes" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="foi-punido-text">foi punido?*</p>
                    </div>
                    <div class="row form-line">
                        <div class="col-3">
                            <div class="radio-background">
                                <label class="container">sim
                                    <input type="radio" checked="checked" name="foiPunidoRadio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="radio-background">
                                <label class="container">não
                                    <input type="radio" name="foiPunidoRadio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="radio-background">
                                <label class="container">não sei
                                    <input type="radio" name="foiPunidoRadio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-line">
                        <div class="col-12">
                            <button type="submit" class="btn btn-envie">envie sua história</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>