<app-header></app-header>
<app-hero></app-hero>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-sobre></app-sobre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-algumas-historias></app-algumas-historias>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-contar-historia></app-contar-historia>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-manifesto></app-manifesto>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin:0;">
            <app-contato></app-contato>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-rodape></app-rodape>
        </div>
    </div>
</div>